 systemLog:  
    destination: file  
    path: "/data/mongodb_log_27006_data/log/mongodb.log"  
    logAppend: true
    logRotate: rename
    timeStampFormat: iso8601-utc
 storage:  
    journal:  
        enabled: true  
    dbPath: "/data/mongodb_log_27006_data/data/"
    repairPath: "/data/mongodb_log_27006_data/data/repairdata/"
    directoryPerDB: true
    engine: wiredTiger
    wiredTiger:  
        engineConfig:  
            cacheSizeGB: 2                #GB,内存使用量   
            journalCompressor: snappy      #journal日志的压缩算法，可选值为none,snappy,zlib
        collectionConfig:  
            blockCompressor: snappy        #collection数据压缩算法，可选值none,snappy,zlib
        indexConfig:    
            prefixCompression: true        #是否对索引数据使用 前缀压缩
 processManagement:  
    fork: true  
 net:  
    bindIp: 192.168.1.80
    port: 27006
 setParameter:
    enableLocalhostAuthBypass: false
